<div id="maparea"></div>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Lng</th>
      <th>Lat</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @stores.each do |store| %>
      <tr>
        <td><%= store.name %></td>
        <td><%= store.address %></td>
        <td><%= store.lng %></td>
        <td><%= store.lat %></td>
      </tr>
    <% end %>
  </tbody>
</table>

